In [1]:
# 3_merging_pandas.py

import pandas as pd


students = pd.DataFrame({
    "Student_ID": [1, 2, 3, 4],
    "Name": ["Anil", "Sita", "Ram", "Hari"]
})

scores = pd.DataFrame({
    "Student_ID": [1, 2, 4, 5],
    "Score": [88, 92, 75, 60]
})

print("\n Students DataFrame:")
print(students)

print("\n Scores DataFrame:")
print(scores)

 Students DataFrame:
   Student_ID  Name
0           1  Anil
1           2  Sita
2           3   Ram
3           4  Hari

 Scores DataFrame:
   Student_ID  Score
0           1     88
1           2     92
2           4     75
3           5     60

In [2]:

# 1. INNER MERGE (Only common keys)

print("\n INNER MERGE (only matching Student_ID):")
inner_merged = pd.merge(students, scores, on="Student_ID", how="inner")
print(inner_merged)

 INNER MERGE (only matching Student_ID):
   Student_ID  Name  Score
0           1  Anil     88
1           2  Sita     92
2           4  Hari     75

In [3]:

#  2. LEFT MERGE (All from left, match from right)
print("\n LEFT MERGE (all students, match scores if available):")
left_merged = pd.merge(students, scores, on="Student_ID", how="left")
print(left_merged)

 LEFT MERGE (all students, match scores if available):
   Student_ID  Name  Score
0           1  Anil   88.0
1           2  Sita   92.0
2           3   Ram    NaN
3           4  Hari   75.0

In [4]:
 
# 3. RIGHT MERGE (All from right, match from left)

print("\nðŸ”¹ RIGHT MERGE (all scores, match students if available):")
right_merged = pd.merge(students, scores, on="Student_ID", how="right")
print(right_merged)

ðŸ”¹ RIGHT MERGE (all scores, match students if available):
   Student_ID  Name  Score
0           1  Anil     88
1           2  Sita     92
2           4  Hari     75
3           5   NaN     60

In [5]:

#  4. OUTER MERGE (All from both sides, fill NaN for missing)

print("\n OUTER MERGE (all students and scores):")
outer_merged = pd.merge(students, scores, on="Student_ID", how="outer")
print(outer_merged)

 OUTER MERGE (all students and scores):
   Student_ID  Name  Score
0           1  Anil   88.0
1           2  Sita   92.0
2           3   Ram    NaN
3           4  Hari   75.0
4           5   NaN   60.0

In [ ]:

# -----------------------------
# ðŸ”¶ 5. MERGE with different column names
# -----------------------------
# Create another DataFrame with different key name
grades = pd.DataFrame({
    "ID": [1, 2, 3],
    "Grade": ["A", "A+", "B"]
})

print("\nðŸ”¹ MERGE with different column names (left_on & right_on):")
merged_diff = pd.merge(students, grades, left_on="Student_ID", right_on="ID")
print(merged_diff)