In [2]:
# grouping_pandas.py


import pandas as pd

# Sample data
data = {
    "Department": ["IT", "HR", "IT", "HR", "Finance", "Finance", "IT"],
    "Employee": ["Anil", "Sita", "Ram", "Gita", "Hari", "Nita", "Bikash"],
    "Salary": [60000, 50000, 65000, 52000, 70000, 72000, 62000]
}

df = pd.DataFrame(data)

print("\nEmployee Data:")
print(df)

Employee Data:
  Department Employee  Salary
0         IT     Anil   60000
1         HR     Sita   50000
2         IT      Ram   65000
3         HR     Gita   52000
4    Finance     Hari   70000
5    Finance     Nita   72000
6         IT   Bikash   62000

In [3]:
#  1. Group by Department

print("\n Average Salary per Department:")
group_avg = df.groupby("Department")["Salary"].mean()
print(group_avg)

 Average Salary per Department:
Department
Finance    71000.000000
HR         51000.000000
IT         62333.333333
Name: Salary, dtype: float64

In [4]:
# 2. Group and show multiple stats

print("\n Salary Statistics per Department (count, sum, mean):")
group_stats = df.groupby("Department")["Salary"].agg(["count", "sum", "mean"])
print(group_stats)

 Salary Statistics per Department (count, sum, mean):
            count     sum          mean
Department
Finance         2  142000  71000.000000
HR              2  102000  51000.000000
IT              3  187000  62333.333333

In [5]:
#  3. Grouping multiple columns
# (Here, each department + salary range group â€” demonstration)
df["Salary Level"] = pd.cut(df["Salary"], bins=[0, 55000, 65000, 75000], labels=["Low", "Medium", "High"])
print("\n Grouping by Department and Salary Level:")
grouped = df.groupby(["Department", "Salary Level"]).size().reset_index(name="Count")
print(grouped)

 Grouping by Department and Salary Level:
  Department Salary Level  Count
0    Finance          Low      0
1    Finance       Medium      0
2    Finance         High      2
3         HR          Low      2
4         HR       Medium      0
5         HR         High      0
6         IT          Low      0
7         IT       Medium      3
8         IT         High      0

C:\Users\mysel\AppData\Local\Temp\ipykernel_10424\2835729705.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = df.groupby(["Department", "Salary Level"]).size().reset_index(name="Count")

In [6]:
#  4. Looping through groups (Advanced)

print("\n Looping through each group in Department:")
for dept, group in df.groupby("Department"):
    print(f"\nDepartment: {dept}")
    print(group)

 Looping through each group in Department:

Department: Finance
  Department Employee  Salary Salary Level
4    Finance     Hari   70000         High
5    Finance     Nita   72000         High

Department: HR
  Department Employee  Salary Salary Level
1         HR     Sita   50000          Low
3         HR     Gita   52000          Low

Department: IT
  Department Employee  Salary Salary Level
0         IT     Anil   60000       Medium
2         IT      Ram   65000       Medium
6         IT   Bikash   62000       Medium