In [46]:
import pandas as pd
#in this section we will learn about the CURD operations in pandas
"""
    CURD stands for Create,Update,Read and Delete
"""

'\n    CURD stands for Create,Update,Read and Delete\n'

In [85]:


# 游릭 CREATE: Create a DataFrame

data={
    "Name":["Rohit Sharma","Ms Dhone","Virat Kholi"],
    "IPL Team":["Mumbai","Chennai","Bangeluru"],
    "Age":[38,43,37],
    "Brand Value": [5450000000, 12730000000, 3085000000]   #salary in million dolor
}
df=pd.DataFrame(data)
print(df)

           Name   IPL Team  Age  Brand Value
0  Rohit Sharma     Mumbai   38   5450000000
1      Ms Dhone    Chennai   43  12730000000
2   Virat Kholi  Bangeluru   37   3085000000

In [75]:

# 游리 UPDATE: Update data
# -------------------------
# Add a new column

df["Bonus"]=df["Brand Value"]*0.1  
print(df)

           Name   IPL Team  Age  Brand Value         Bonus
0  Rohit Sharma     Mumbai   38   5450000000  5.450000e+08
1      Ms Dhone    Chennai   43  12730000000  1.273000e+09
2   Virat Kholi  Bangeluru   37   3085000000  3.085000e+08

In [49]:
# 游리 UPDATE: Update data
# -------------------------
# Add a new column
df.insert(0, "Jersey Number", [45, 7, 18])
print(df)

   Jersey Number          Name   IPL Team  Age  Brand Value         Bonus
0             45  Rohit Sharma     Mumbai   38   5450000000  5.450000e+08
1              7      Ms Dhone    Chennai   43  12730000000  1.273000e+09
2             18   Virat Kholi  Bangeluru   37   3085000000  3.085000e+08

In [61]:
# -------------------------
# 游리 UPDATE: Update data
# -------------------------
# updated a specific cell

# Update Age of index 2
# Now you can update a specific cell in "Age" column
df.loc[1, "Age"] = 44

print(df)

           Name   IPL Team  Age  Brand Value
0  Rohit Sharma     Mumbai   38   5450000000
1      Ms Dhone    Chennai   44  12730000000
2   Virat Kholi  Bangeluru   37   3085000000

In [68]:
#increasing salary by 5%
df["Brand Value"]=df["Brand Value"] *1.05
print(df)

           Name   IPL Team  Age   Brand Value
0  Rohit Sharma     Mumbai   38  5.722500e+09
1      Ms Dhone    Chennai   43  1.336650e+10
2   Virat Kholi  Bangeluru   37  3.239250e+09

In [88]:
# Delete: Drop the "Brand Value" column
df.drop(columns=["Brand Value"], inplace = True)
print(df)

           Name   IPL Team  Age
0  Rohit Sharma     Mumbai   38
1      Ms Dhone    Chennai   43
2   Virat Kholi  Bangeluru   37

In [93]:
#Delete : Drop row where age is breater than 40
df=df[df["Age"]<=40]
print(df)

           Name   IPL Team  Age
0  Rohit Sharma     Mumbai   38
2   Virat Kholi  Bangeluru   37

In [94]:
#read operation is done in ...
#print(df)

           Name   IPL Team  Age
0  Rohit Sharma     Mumbai   38
2   Virat Kholi  Bangeluru   37